.component {
  display: flex;
  flex-direction: column;

  .header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    background-color: var(--base-00);
    border-bottom: 1px solid var(--base-02);

    h1 {
      margin: 0;
    }

    .buttons {
      display: flex;
      gap: 8px;
    }
  }

  .content {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }

  .cost {
    position: relative;
  }

  .cost:after {
    content: '* за первый день';
    position: absolute;
    top: -5px;
    right: -80px;
    color: var(--main-color-300);
    font-size: 0.6rem;
  }
}