.component {
  grid-area: header;
  padding: 16px;
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  background-color: var(--base-00);
  box-shadow: inset 1px 0 0 var(--base-02);
}

.logo {
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: .2rem;
  cursor: pointer;
}

.toolbar {
  align-items: center;
  display: flex;
  gap: 8px;
}