@import "../components/Button/Button";

body {
  --white: #fff;
  --black: #000;

  --main-color-100: #EFF7F7;
  --main-color-200: #CEE7E8;
  --main-color-300: #ADD8D9;
  --main-color-400: #4EA5A7;
  --main-color-500: #469597;
  --main-color-600: #3A7C7E;
  --main-color-700: #295758;
  --main-color-800: #173232;


  --foam: #E5E3E4;
  --wave: #BBC6C8;
  --sky: #469597;
  --sea: #5BA199;
  --sand: #DDBEAA;
}
